.search-bar {
    background-color: #3F56B3;
    padding-top: 13px;
    padding-bottom: 13px;
    position: fixed;
    z-index: 100;
    width: 100%;

    &__form {
        display: flex;
        justify-content: center;

    }

    &__form input {
        // display: flex;
        border: 2px solid white;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        padding-left: 12px;
        min-width: 416px;
        font-weight: 500;
        line-height: 40px;
        @media screen and (max-width: 560px) {
            min-width: 100px;
        }
        &:focus {
            border: 2px solid #5192F0;
            outline: none;
        }
        &:hover {
            border: 2px solid #5192F0;
        }
    }

    &__form button {
        line-height: 44px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border: none;
        outline: none;

        &:hover {
            outline: none;
            cursor: pointer;
            background-color: #b1b1b1;
        }
    }
}

.search-bar__icon {
    width: 24px;
    height: 24px;
}